{% extends "base.html" %} {% block page_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}" />
{% endblock %} 
{% block title %} Dashboard {% endblock %} 
{% block content %} 
{% include "dashboard/_header.html" %} 
{% if current_user.role == "Admin" %} 
   {% include "dashboard/_admin_dashboard.html" %} 
   {% elif current_user.role == "Librarian" %}
     {% include "dashboard/_librarian_dashboard.html" %} 
   {% elif current_user.role == "Member" %} {% include "dashboard/_member_dashboard.html" %} 
{% endif %}

{% if current_user.role != "Member" %}

    {% include "dashboard/_quick_actions.html" %}

{% endif %}
{% include "dashboard/_recent_activity.html" %}
{% endblock %} 