/* LOGIN PAGE */

.login-page {
    min-height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card {
    width: 100%;
    max-width: 450px;

    background: #ffffff;

    padding: 40px;

    border-radius: 20px;

    box-shadow: 0 10px 30px rgba(0,0,0,0.15);
}

.login-logo {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.login-card .form-control {
    border-radius: 10px;
}

.login-card .btn {
    border-radius: 10px;
    font-weight: 600;
}