{% extends "base.html" %}

{% block title %}
Add Member
{% endblock %}

{% block content %}

<div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Add Member</h2>

    <a href="{{ url_for('member.members') }}" class="btn btn-secondary">
        Back to Members
    </a>
</div>

<form method="POST">

    <div class="row">

        <div class="col-md-6 mb-3">
            <label for="member_no" class="form-label">
                Member No.
            </label>

            <input type="text" class="form-control" id="member_no" name="member_no" value="{{ next_member_no }}"
                readonly>
        </div>

        <div class="col-md-6 mb-3">
            <label for="name" class="form-label">
                Name
            </label>

            <input type="text" class="form-control" id="name" name="name" maxlength="150" required
                placeholder="Enter Name">
        </div>

        <div class="col-md-6 mb-3">
            <label for="designation" class="form-label">
                Designation
            </label>

            <input type="text" class="form-control" id="designation" name="designation" maxlength="100"
                placeholder="Enter Designation">
        </div>

        <div class="col-md-6 mb-3">
            <label for="department" class="form-label">
                Department
            </label>

            <input type="text" class="form-control" id="department" name="department" maxlength="100"
                placeholder="Enter Department">
        </div>

        <div class="col-12 mb-3">
            <label for="address" class="form-label">
                Address
            </label>

            <textarea class="form-control" id="address" name="address" maxlength="300" rows="3"
                placeholder="Enter Address"></textarea>
        </div>

        <div class="col-md-6 mb-3">
            <label for="phone" class="form-label">
                Phone
            </label>

            <input type="tel" class="form-control" id="phone" name="phone" maxlength="20"
                placeholder="Enter phone number">
        </div>

        <div class="col-md-6 mb-3">
            <label for="email" class="form-label">
                Email
            </label>

            <input type="email" class="form-control" id="email" name="email" maxlength="150" placeholder="Enter Email">
        </div>

    </div>

    <button type="submit" class="btn btn-primary">
        Save Member
    </button>

    <a href="{{ url_for('member.members') }}" class="btn btn-secondary">
        Cancel
    </a>

</form>

{% endblock %}