{% extends "base.html" %} {% block content %}

<div class="container mt-4">
    <h2>Issue Book</h2>

    <form method="POST">
         {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.member_id.label(class="form-label") }}
            {{ form.member_id(class="form-select") }}
        </div>

        <div class="mb-3">
            {{ form.book_id.label(class="form-label") }}
            {{ form.book_id(class="form-select") }}
        </div>
        <div class="mb-3">
            <label for="issue_date" class="form-label"> Issue Date </label>

            <input
                type="date"
                class="form-control"
                id="issue_date"
                name="issue_date"
                value="{{ today }}"
                readonly
            />
        </div>

        <div class="mb-3">
            {{ form.due_date.label(class="form-label") }}
            {{ form.due_date(class="form-control") }}
        </div>

        {{ form.submit(class="btn btn-primary") }}
    </form>
</div>

{% endblock %}
